.df {
    display:flex;
    flex-direction: column;
    align-items:space-between;
    margin-left: 24px;
    font-family: Roboto;
    padding-top:8px;
    height: 100px;
    text-align: center;
    width: 100px;
    margin-bottom: 40px;
    padding: 60px;
}